@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}


.custom-image {
  height: 400px;
  margin: 1.5rem 0;
  width: 100%;
}

@media (max-width: 768px) {
  .custom-image {
    height: 270px;
  }
  .aspect-w-16 {
    aspect-ratio: 1 / 1; /* Changez le ratio pour les petits écrans */
  }
}

.aspect-w-16 {
  min-height: 200px; /* Ajustez cette valeur selon vos besoins */
  display: block;
}